* {
    padding: 0px;
    margin: 0px;
}

.rt {
    background-color: rgb(17, 55, 136);
    font-family: sans-serif;
}

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 210px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div img {
    max-width: 200px;
    height: 9em;
    border-radius: 10px;
}

.wid {
    width: 200px;
    height: 9em;
    color: rgb(6, 5, 49);
}

p {
    text-align: justify;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
}

form {
    background-color: blueviolet;
    display: inline-block;
}

label, td {
    vertical-align: top;
    color: white;
}

.sp {
    margin-bottom: 10px;
}

.tabl {
    margin-top: 50px;
}

.menu-bar {
    background-color: rgb(34, 158, 22);
    color: rgb(255, 255, 255);
    
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: wheat;
}

.menu-bar ul li {
    padding: 15px;
    margin: 15px;
    width: 120px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover {
    background-color: rgb(164, 240, 205,0.4);
   border-radius: 3px;
}

.foot{

    background-color: rgb(34, 158, 22);
    color: rgb(255, 255, 255);
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: +3;
}
.hd{
    color: white;
    text-decoration: none;
    size: 300%;
    padding: 20px;
    display: inline;
    text-align: left;
}
.hd1{
    color: white;
    text-decoration: none;
    size: 300%;
    padding: 20px;
    text-align: center;
}

